<ul>
    <li>
        <a href="">
            <img src="<%= image %>" alt="">
            <p> <%= name %></p>
        </a>
    </li>
    <li>
        <a href="">
            <img src="<%= image %>" alt="">
            <p> <%= name %></p>
        </a>
    </li>
    <li>
        <a href="">
            <img src="<%= image %>" alt="">
            <p> <%= name %></p>
        </a>
    </li>
    <li>
        <a href="">
            <img src="<%= image %>" alt="">
            <p> <%= name %></p>
        </a>
    </li>
    <li>
        <a href="">
            <img src="<%= image %>" alt="">
            <p> <%= name %></p>
        </a>
    </li>
    <li>
        <a href="">
            <img src="<%= image %>" alt="">
            <p> <%= name %></p>
        </a>
    </li>
    <li>
        <a href="">
            <img src="<%= image %>" alt="">
            <p> <%= name %></p>
        </a>
    </li>
    <li>
        <a href="">
            <img src="<%= image %>" alt="">
            <p> <%= name %></p>
        </a>
    </li>
</ul>