<%- include('partials/head'); %>

<body id="results">
    <%- include('partials/header'); %>

    <section>
        <h2>Results</h2>
        <%- include('partials/smallForm'); %>
    </section>

    <section>
        <h3><%= results %> people who like: <%= searchSubject %> </h3>
    </section>

    <section>
        <%- include('partials/accountLijst.ejs'); %>
    </section>

    <script src="../../static/script/script.js"></script>


</body>


</html>